.member-area{
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 0;
}
.member-area form{
    font-size: 1.5rem;
}

.column{
    padding-top: 0 !important;
    transition: all linear 0.5s;
}



.flash {
    font-family: 'Indie Flower', cursive;
}

h3 {
    font-size: 2rem !important;
    font-family: 'Indie Flower', cursive !important;
}

table td {
    padding: 0.4rem;
    text-align: left;
}

input {
    padding: 6px !important;
    font-family: 'Indie Flower', cursive !important;    
}

.modal-invisible {
    display: none;
}
.modal-invisible {
    display: all;
}

.title {
    background-color: #F9FAFB;
}

.settingsBtn {
    position: absolute !important;
    top: -60px !important;
    right: 5px !important;
}

