<div *ngIf="!members || !tasks">
<img class="loading-img" src="/assets/images/spinner-loading.gif" />
</div>
<div *ngIf="members && tasks">
   <div class="ui centered grid table-wrapper">
        <table class="thead-table">
          <thead>
            <tr>
              <th class="month">{{year}}</th>
              <th *ngFor="let member of members; let i = index; let even = even;" attr.data-memberid="{{member._id}}" class="member-mobile">{{getInitials(i)}}</th>
              <th *ngFor="let member of members; let i = index; let even = even;" attr.data-memberid="{{member._id}}" class="member">{{member.firstName}}</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="ui centered grid table-wrapper table-wrapper-inner">
        <table class="task-table">
          <tbody *ngFor="let month of months; let monthIndex = index; let even = even;">
            <tr class="month-mobile">
              <td colSpan="{{getMembersLength()}}" class="month-mobile">{{month}}</td>
            </tr>
            <tr class="{{currentMonth(monthIndex)? 'current' : ''}}">
              <td class="month">{{month}}</td>
              <td class="icon" *ngFor="let member of members; let i = index; let even = even;">
                <img class="icon-img" *ngFor="let task of renderTaskList(i, monthIndex)" src="assets/images/{{task.name}}.png" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>